---
interface Props {
  quote: string;
  author: string;
  role: string;
  company: string;
  url: string;
}

const { quote, author, role, company, url } = Astro.props;
---

<figure class="mb-8">
  <blockquote>
    <p class="italic mb-2">&ldquo;{quote}&rdquo;</p>
  </blockquote>
  <figcaption class="font-bold">
    — {author}, {role} at <a href={url} class="text-blue-500 hover:text-blue-700" target="_blank" rel="noopener noreferrer">{company}</a>
  </figcaption>
</figure>