---
interface Props {
  quote: string;
  author: string;
  role: string;
  company: string;
  url: string;
  favicon?: string;
}

const { quote, author, role, company, url, favicon } = Astro.props;
---

<figure>
  <blockquote>
    <p class="italic mb-2">&ldquo;{quote}&rdquo;</p>
  </blockquote>
  <figcaption class="font-bold">
    — {author}, {role} at <a href={url} class="text-blue-500 hover:text-blue-700" target="_blank" rel="noopener noreferrer">{company}{
      favicon && (
        <img
          src={favicon}
          alt=""
          class="inline-block w-4 h-4 ml-1 align-text-bottom"
          loading="lazy"
        />
      )
    }</a>
  </figcaption>
</figure>