---
import ExternalLink from './ExternalLink.astro';

interface Props {
  quote: string;
  author: string;
  title: string;
  company: string;
  url: string;
}

const { quote, author, title, company, url } = Astro.props;
---

<figure class="mb-6">
  <blockquote>
    <p class="mb-2 italic text-gray-700">&ldquo;{quote}&rdquo;</p>
  </blockquote>
  <figcaption class="text-sm">
    — <strong>{author}</strong>, {title} at <ExternalLink href={url}
      >{company}</ExternalLink
    >
  </figcaption>
</figure>
