---
import ExternalLink from './ExternalLink.astro';

interface Props {
  quote: string;
  author: string;
  title: string;
  company: string;
  url: string;
  favicon?: string;
}

const { quote, author, title, company, url, favicon } = Astro.props;
---

<figure>
  <blockquote>
    <p class="mb-2 italic">&ldquo;{quote}&rdquo;</p>
  </blockquote>
  <figcaption class="font-bold">
    — {author}, {title} at <ExternalLink href={url} favicon={favicon}
      >{company}</ExternalLink
    >
  </figcaption>
</figure>
