---
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';

interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    description: string;
    image?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout 
  title={frontmatter.title}
  description={frontmatter.description}
  article={true}
  publishedTime={frontmatter.pubDate}
  image={frontmatter.image}
>
  <article role="article" aria-labelledby="article-title">
    <header>
      <h1 id="article-title" class="text-xl font-bold mb-2">{frontmatter.title}</h1>
      <p class="text-xs text-content-secondary mb-8">
        <time datetime={frontmatter.pubDate}>
          <FormattedDate date={frontmatter.pubDate} />
        </time>
      </p>
    </header>
    
    <div class="space-y-4">
      <slot />
    </div>
  </article>
</Layout>
