---
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';

interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    description: string;
    image?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout 
  title={frontmatter.title}
  description={frontmatter.description}
  article={true}
  publishedTime={frontmatter.pubDate}
  image={frontmatter.image}
>
  <div>
    <h1 class="text-xl font-bold mb-2">{frontmatter.title}</h1>
    <p class="text-xs text-gray-500 mb-8">
      <FormattedDate date={frontmatter.pubDate} />
    </p>
    
    <div class="space-y-4">
      <slot />
    </div>
  </div>
</Layout>
